<header class="c-header row">
    <article class="col-7 col-xs-12">
        <article class="row">
            <article class="col-2 col-xs-12">
                <a [routerLink]="['/']">
                    <img src="assets/images/politecnico.png" />
                </a>
            </article>
            <div class="col-10 col-xs-12" style="text-align:center">
                <h1>POLINET</h1>
                <h2 style="display:block">
                    Gestión del tráfico y acceso a la comunidad educativa
                </h2>
            </div>
        </article>
    </article>
    <polinet-login class="col-5 col-xs-12"></polinet-login>
</header>
