<section class="row c-login">
        <article >
            <input id="nick_user" type="text" placeholder="Usuario...">
            <input name="password" id="password" placeholder="Contraseña...">
            <button class="btn btn-primary btn-success" id="connect" type="button" name="connect" (click)="goToPage('/')">Entrar</button>
        </article>
        <article style="margin-top: 2%">
            <button class="btn btn-primary" id="createAccount" type="button" name="createAccount" (click)="goToPage('/register')">Crear cuenta</button>
            <button class="btn btn-primary" id="password" type="button" name="password" (click)="goToPage('/password')">Olvidó su contraseña
            </button>
        </article>
</section>
